@page "/level1"

<h3>Level1</h3>

<body>
    <div id='goals_id' class='goals_div'></div>
    <div id='root_id'>
        <svg class="svg_layer" height="2000px" width="2000px" id="sl"></svg>
    </div>
    <div id='logs_id' class='logs_div'></div>
</body>

@code {

}
